@page "/contacts/{contactId:int}/edit"
@model ContactApp.Pages.Contacts.Edit

@{
    ViewData["Title"] = $"Edit {Model.Contact.FirstName} {Model.Contact.LastName}";
}

<h1>Edit Contact</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-group mt-2">
        <label for="firstName">First name:</label>
        <input asp-for="Contact.FirstName" name="Contact.FirstName"
               id="firstName" class="form-control"></input>
        <span asp-validation-for="Contact.FirstName" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label for="lastName">Last name:</label>
        <input asp-for="Contact.LastName" name="Contact.LastName"
               id="lastName" class="form-control"></input>
        <span asp-validation-for="Contact.LastName" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label for="email">E-mail address:</label>
        <input asp-for="Contact.Email" name="Contact.Email"
               id="email" class="form-control"></input>
        <span asp-validation-for="Contact.Email" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label for="groups">Groups:</label>
        <select asp-for="Contact.ContactGroups" asp-items="Model.AvailableGroups"
                id="groups" class="form-select" multiple="multiple"></select>
        <span asp-validation-for="Contact.ContactGroups" class="text-danger"></span>
    </div>

    <div class="mt-3 row">
        <div class="col-auto">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
        <div class="col"></div>
        <div class="col-auto">
            <a class="btn btn-danger" asp-page="Delete" asp-route-contactId="@Model.Contact.ContactId">
                Delete
            </a>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
